<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <div class="home-container">
    <p class="home-hook-text">Empower You Team's Potential for your Business</p>
    <p class="home-description">Simplify project  management, enhance collaboration, and boost productivity with our intuitive platform</p>
    <div class="home-link-container">
      <a href="/" class="register-link">Get Started</a>
      <a href="/" class="register-link trial-link">Free Trial</a>
    </div>
    <img src="../../images/website-capture.png" alt="">
    <img src="../../images/partner-companies.png" alt="">
  </div>
</body>
</html>