<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <nav class="navbar-container">
    <div class="navbar-item-container">
      <img src="../../images/SVG/wonsoft.svg" alt="wonsoft logo" class="navbar-logo">
      <ul class="nav-items">
        <li><a href="/">Features</a></li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
      <a href="/" class="register-link">Get Started</a>
    </div>
  </nav>
</body>
</html>